$dk-blue: #13496D;
$pale-yellow: #F4CE90;
$bright_yellow: #E5CF6A;
$turq: #00BDFF;

$frank: "frank-new";
$rift: "rift";
$fsp: "freight-sans-pro";

$book: 400;
$med: 500;
$semi: 600;
$bold: 700;

body {
  background-color: $dk-blue;
  font-size: 1.2rem;
  font-family: $fsp;
  font-weight: $book;
  line-height: 1.6rem;
}

header, .layout-main-wrapper {
  background-color: #fff;
}

header {
  .banner {
    padding: 1.1rem 0;
    background: url("../images/yellow_vert_lines.svg") 0 100% repeat-x;
    .navbar-brand {
      padding: 0;
    }
  }
}

.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0;
}

.menu--main {
  .nav-link {
    color: $dk-blue;
    font-family: $frank;
    font-weight: $book;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-bottom: #fff 7px solid;
    margin: 0 1.05rem;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.is-active {
    border-color: $bright-yellow;
  }
}

.mission-statement {
  flex: 0 0 100%;
  margin-bottom: 1.6rem;
  .statement-container {
    background-color: rgba(23, 54, 75, .7);
    width: 65%;
    text-align: center;
    padding: 1.0rem 0;
    h1 {
      letter-spacing: 0.04rem;
      color: $pale-yellow;
      font-family: $rift;
      font-weight: $semi;
      font-size: 1.7rem;
      margin: 0;
      line-height: 2.4rem;
    }
  }
}


.homepage-tiles {
  background-image: url("../images/hero_bkgrd.jpg");
  background-size: cover;
  padding-bottom: 4.0rem;
  .homepage-tile {
    margin: 15px 0;
    border: $dk-blue 1px solid;
    font-family: $frank;
    background-color: #fff;
    h2 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: $book;
      a {
        display: block;
        color: #fff;
        background-color: $dk-blue;
        padding: .8rem 1.2rem;
        border-bottom: $turq 9px solid;
      }
      a, a:hover {
        text-decoration: none;
      }
      a:hover {
        color: $pale-yellow;
      }
    }
    .content {
      padding: 1.0rem 1.0rem 1.2rem 2.0rem;
      .item-list ul {
        list-style: square url('../images/homepage_list_bullet.png');
        li {
          line-height: 1.4rem;
          padding-bottom: 0.6rem;
        }
      }
      a {
        font-size: 1.1rem;
        color: #000;
        font-weight: $med;
        text-decoration: underline;
      }
      a:hover {
        color: $turq;
      }
    }
  }
}

.homepage-news-grid {
  margin-top: 2.5rem;
}

.title-decor {
  background: #fff url('../images/yellow_vert_lines.svg') 2% 100% no-repeat;
  padding-bottom: 0.1rem;
  margin-bottom: 1.0rem;
  margin-left: -2.0rem;
}

h1 {
  font-weight: $book;
  color: $dk-blue;
  border-bottom: $dk-blue 1px solid;
  padding-left: 2.8rem;
  font-size: 2.8rem;
  line-height: 3.4rem;
}

.index-col-3 {
  column-count: 3;
  -moz-column-count: 3;
}

.view-fast-find {
  .views-row {
  }
}


.site-footer {
  padding: 2.5rem 0 6.0rem;
  .block {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.site-footer__top {
  .region {
    float: none;
    width: 100%;
  }
  p {
    margin: 0;
  }
}

.menu--footer {
  .navbar-nav {
    display: inline-block;
    li {
      float: left;
      padding: 0 0.6rem;
      border-right: #fff 1px solid;
    }
    li:last-child {
      border: none;
      padding-right: 0;
    }
    .nav-link {
      color: #fff;
      text-decoration: underline;
      padding: 0.1rem 0 0.2rem;
      line-height: 1.1rem;
      font-size: 0.95rem;
    }
  }
}

.footer-copyright-privacy {
  font-size: 0.9rem;
  line-height: 1.1rem;
  a {
    color: #fff;
    text-decoration: underline;
  }
}


@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
  .col-xxl-7 {
    max-width: 58.3333333%;
    flex: 0 0 58.3333333%;
  }
  .col-xxl-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .col-xxl-5 {
    max-width: 41.66666%;
    flex: 0 0 41.66666%;
  }
  .col-xxl-4 {
    max-width: 33.3333333%;
    flex: 0 0 33.3333333%;
  }
  .col-xxl-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
}

/* only for retina displays */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .homepage-tiles {
    background-image: url("../images/hero_bkgrd@2x.jpg");
  }
}
