$dk-blue: #13496D;
$sky-blue: #077ED6;
$turq: #00BDFF;
$pale-yellow: #F4CE90;
$bright_yellow: #E5CF6A;

$frank: "frank-new";
$rift: "rift";
$fsp: "freight-sans-pro";
$realist: "realist";

$semi-lt: 300;
$book: 400;
$med: 500;
$semi: 600;
$bold: 700;

body {
  background-color: $dk-blue;
  font-size: 1.2rem;
  font-family: $fsp;
  font-weight: $book;
  line-height: 1.6rem;
}

strong, b {
  font-weight: $semi;
}

/** BANNER **/
header, .layout-main-wrapper {
  background-color: #fff;
}

header {
  .banner {
    padding: 0.7rem 0 0 0;
    .navbar-brand {
      padding: 0;
      margin-right: 2.9rem;
    }
  }
  .dfci-banner-logo {
    .field--type-image img {
      margin-bottom: 0;
    }
  }
  .search-block-form {
    .container-inline > .container-inline {
      display: block;
    }
  }
  .search-form {
    .form-type-search {
      width: 70%;
    }
    .form-control {
      border-radius: 0;
    }
    input[type="search"] {
      border-color: $dk-blue;
      line-height: 1.0;
    }
    input[type="submit"] {
      background-color: $dk-blue;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      height: 30px;
    }
  }
  #search-block-form {
    padding: 0;
  }
}

/** MAIN MENU **/
#navbar-main.navbar {
  border-top: $turq 3px solid;
  padding-top: 0.2rem;
  padding-bottom: 0;
  .hover-to-show:hover ul.dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.95);
  border: $turq 2px solid;
  margin-top: 0;
  a {
    font-family: $realist;
    color: $dk-blue;
    text-decoration: none;
  }
  .dropdown-item a:hover,
  .dropdown-item a:focus {
    color: $turq;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background: none;
    a:hover, a:focus,
    a.active.is-active {
      color: $turq;
    }
  }
}

.menu--main {
  .nav-link {
    color: $dk-blue;
    font-family: $realist;
    font-weight: $book;
    text-transform: uppercase;
    font-size: 0.95rem;
    border-bottom: #fff 6px solid;
    margin: 0 0.7rem;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    text-decoration: none;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active,
  .nav-link.is-active {
    color: $turq;
    border-color: $turq;
  }
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}


/** HOMEPAGE **/
.mission-statement {
  flex: 0 0 100%;
  margin-bottom: 1.6rem;
  .statement-container {
    background-color: rgba(23, 54, 75, .7);
    width: 65%;
    text-align: center;
    padding: 1.0rem 0;
    h1 {
      letter-spacing: 0.04rem;
      color: $pale-yellow;
      font-family: $rift;
      font-weight: $semi;
      font-size: 1.7rem;
      margin: 0;
      line-height: 2.4rem;
      border: none;
    }
  }
}


.homepage-tiles {
  background-image: url("../images/hero_bkgrd.jpg");
  background-size: cover;
  padding-bottom: 4.0rem;
  .homepage-tile {
    margin: 15px 0;
    border: $dk-blue 1px solid;
    font-family: $frank;
    background-color: #fff;
    h2 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: $book;
      a {
        display: block;
        color: #fff;
        background-color: $dk-blue;
        padding: .8rem 1.2rem;
        border-bottom: $turq 9px solid;
      }
      a, a:hover {
        text-decoration: none;
      }
      a:hover {
        color: $pale-yellow;
      }
    }
    .content {
      padding: 1.0rem 1.0rem 1.2rem 2.0rem;
      .item-list ul {
        list-style: square url('../images/homepage_list_bullet.png');
        li {
          line-height: 1.4rem;
          padding-bottom: 0.6rem;
        }
      }
      a {
        font-size: 1.1rem;
        color: #000;
        font-weight: $med;
        text-decoration: underline;
      }
      a:hover {
        color: $turq;
      }
    }
  }
}

/** NEWS: ALL DISPLAYS **/
.news-page {
  .news-display {
    margin-bottom: 2.5rem;
    h3 {
      margin-bottom: 0.8rem;
    }
  }
}

.news-display {
  h3 {
    line-height: 1.9rem;
    font-family: $frank;
    font-weight: $book;
  }
  h3 a {
    color: $sky-blue;
    text-decoration: none;
    font-size: 1.4rem;
  }
  h3 a:hover {
    color: $dk-blue;
  }
}

.views-field-field-date,
.field--type-datetime {
  margin-bottom: 0.4rem;
}

time.datetime {
  font-style: italic;
  font-size: 1.1rem;
}

.homepage-news-grid {
  margin-top: 2.5rem;
}

.title-decor {
  margin-bottom: 1.6rem;
  margin-left: -2.0rem;
  border-bottom: $dk-blue 1px solid;
}

/** SERVICES **/
.service-container {
  margin-bottom: 2.4rem;
  p.service-description {
    font-style: italic;
    margin-bottom: 0.8rem;
  }
  .other-information {
    margin-top: 1.0rem;
    p {
      margin-bottom: 1.0rem;
    }
  }
  p {
    margin: 0;
  }
  .service-label {
    font-weight: $semi;
    font-size: 1.33rem;
  }
}

.view-services {
  h2 {
    margin-bottom: 0;
  }
}
/** GROUP PAGE **/

.group-mission-statement,
.group-services,
.group-key-contact-information,
.group-project-highlight {
  margin-bottom: 2.1rem;
  ul li {
    line-height: 2.2rem;
  }
}

.group-mission-statement {
  font-size: 1.5rem;
  line-height: 1.8rem;
  .mission-label {
    font-weight: $semi;
    color: $dk-blue;
  }
}

.group-key-contact-information {
  h3 {
    margin-top: 1.8rem;
    font-style: italic;
  }
}

.group-project-highlight {
  .paragraph--type--project-image {
    padding-left: 1.1rem;
  }
  .field--name-field-project-title {
    font-weight: $semi;
    font-size: 1.4rem;
    margin: 1.1rem 0;
  }
  .field--name-field-image {
    border-top: $dk-blue 16px solid;
  }
  .field--type-image img {
    margin-bottom: 0.8em;
  }
  .field--name-field-image-caption {
    line-height: 1.4rem;
    font-size: 1.1rem;
    font-style: italic;
    padding: 0 1.0rem 1.1rem 1.0rem;
    border-bottom: $turq 3px solid;
  }
}
/** FAST FIND **/
.index-col {
  column-count: 3;
  -moz-column-count: 3;
}

.fast-find-list {
  h2, .fast-find-terms {
    padding-left: 0.5rem;
  }
  h2 {
    padding-right: 6.0rem;
    border-bottom: $dk-blue 1px solid;
    display: inline-block;
  }
  .fast-find-terms {
    padding-bottom: 1.3rem;
    .views-row {
      margin-bottom: 0.9rem;
    }
  }
}


/** COMMON **/
h1 {
  border-bottom: $turq 3px solid;
  font-family: $rift;
  font-weight: $book;
  font-size: 2.8rem;
  display: inline-block;
  color: $dk-blue;
  padding: 0 2.0rem;
  line-height: 3.4rem;
  margin-bottom: -3px;
}

h2 {
  color: $sky-blue;
  font-family: $frank;
  font-weight: $book;
  font-size: 1.5rem;
}

h3 {
  color: $sky-blue;
  font-family: $frank;
  font-weight: $book;
  font-size: 1.25rem;
}

a {
  color: $turq;
  font-weight: $med;
  text-decoration: underline;
  font-family: $frank;
  font-size: 1.16rem;
  transition: color, 0.5s;
}

a:hover, a:focus, a:active {
  color: $dk-blue;
}

.page-border-and-margin {
  margin-top: 2.0rem;
  padding-top: 3.3rem;
  padding-bottom: 4.0rem;
}

.block-page-title-block {
  margin-bottom: 2.6rem;
}

/** FOOTER **/
.site-footer {
  padding: 2.5rem 0 6.0rem;
  .block {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.site-footer__top {
  .region {
    float: none;
    width: 100%;
  }
  p {
    margin: 0;
  }
}

.menu--footer {
  .navbar-nav {
    display: inline-block;
    li {
      float: left;
      padding: 0 0.6rem;
      border-right: #fff 1px solid;
    }
    li:last-child {
      border: none;
      padding-right: 0;
    }
    .nav-link {
      color: #fff;
      text-decoration: underline;
      padding: 0.1rem 0 0.2rem;
      line-height: 1.1rem;
      font-size: 0.95rem;
    }
  }
}

.footer-copyright-privacy {
  font-size: 0.9rem;
  line-height: 1.1rem;
  a {
    color: #fff;
    text-decoration: underline;
    font-size: 0.9rem;
    font-family: $fsp
  }
}


@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
  .col-xxl-7 {
    max-width: 58.3333333%;
    flex: 0 0 58.3333333%;
  }
  .col-xxl-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .col-xxl-5 {
    max-width: 41.66666%;
    flex: 0 0 41.66666%;
  }
  .col-xxl-4 {
    max-width: 33.3333333%;
    flex: 0 0 33.3333333%;
  }
  .col-xxl-3 {
    max-width: 25%;
    flex: 0 0 25%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.66666666%;
  }
}

@media (max-width: 1599px) {
  header {
    .banner {
      .navbar-brand {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  header {
    .dfci-banner-logo {
      padding-left: 15px;
    }
  }
  .mission-statement {
    .statement-container {
      width: 75%;
      h1 {
        line-height: 2.1rem;
      }
    }
  }
}

@media (max-width: 1199px) {
  .index-col {
    column-count: 2;
    -moz-column-count: 2;
  }
  header {
    .search-form {
      .form-type-search {
        width: 60%;
      }
    }
  }
  .mission-statement {
    .statement-container {
      width: 100%;
    }
  }
  .site-footer {
    .ianda-footer-logo {
      margin-left: 15px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 991px) {
  .navbar-toggler {
    padding-top: 0;
    padding-bottom: .2em;
  }
  .navbar-toggler-icon {
    display: block;
    margin: 0.3em 0;
    height: 0.2em;
    background-color: $turq;
  }

  .menu--main {
    .nav-item {
      padding: 0.2em 0;
    }
    .nav-link,
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .nav-link.is-active {
      border: none;
    }
  }
  #navbar-main.navbar {
    .hover-to-show:hover ul.dropdown-menu {
      display: none;
    }
    .hover-to-show.show ul.dropdown-menu,
    .active.hover-to-show ul.dropdown-menu,
    .hover-to-show.show:hover ul.dropdown-menu {
      display: block;
    }
  }
  button.btn.dropdown-toggle {
    background: none;
    padding: 0.15rem 0.5rem 0.15rem .75rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search-form {
    margin: 0.7rem 0;
    .form-group {
      margin-bottom: 0;
    }
  }
  .mission-statement {
    .statement-container {
      h1 {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .index-col {
    column-count: 1;
    -moz-column-count: 1;
  }
}

/* only for retina displays */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .homepage-tiles {
    background-image: url("../images/hero_bkgrd@2x.jpg");
  }
}
