{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'col-xxl-4',
    'col-xl-6',
    'col-lg-7',
    'offset-xxl-5',
    'offset-xl-2',
    'offset-lg-1',
    'mt-1',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
    <section{{ attributes.addClass(classes).removeClass('row') }}>
      <div class="row">
        {{ content }}
      </div>
    </section>
{% endif %}
